/*
		
			-----COLOR REFERENCES-----
				Light Blue: #A3ECFF
				Medium Blue: #7BD0E5
				Dark Blue: #469DB2
				Light Brown: #FFC289
				Dark Brown: #B2753C

*/

/*=======================================================FONTS=======================================================*/

@font-face {
	font-family: Impossible;
	src: url('../fonts/Impossible.ttf');
}

@font-face {
	font-family: Impossible Bold;
	src: url('../fonts/ImpossibleBold.ttf');
}

@font-face {
	font-family: What a Mess;
	src: url('../fonts/WhatAMess.ttf');
}

/*=======================================================UNIVERSAL=======================================================*/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #469DB2;
	
	background-image: -ms-linear-gradient(top, #A3ECFF 0%, #7BD0E5 40%, #FFC289 60%, #B2753C 70%, #469DB2 100%); /* IE10 Consumer Preview */ 
	background-image: -moz-linear-gradient(top, #A3ECFF 0%, #7BD0E5 40%, #FFC289 60%, #B2753C 70%, #469DB2 100%); /* Mozilla Firefox */ 
	background-image: -o-linear-gradient(top, #A3ECFF 0%, #7BD0E5 40%, #FFC289 60%, #B2753C 70%, #469DB2 100%); /* Opera */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A3ECFF), color-stop(0.4, #7BD0E5), color-stop(0.6, #FFC289), color-stop(0.7, #B2753C), color-stop(1, #469DB2)); /* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-linear-gradient(top, #A3ECFF 0%, #7BD0E5 40%, #FFC289 60%, #B2753C 70%, #469DB2 100%); /* Webkit (Chrome 11+) */
	background-image: linear-gradient(to bottom, #A3ECFF 0%, #7BD0E5 40%, #FFC289 60%, #B2753C 70%, #469DB2 100%); /* W3C Markup, IE10 Release Preview */
}

#container {
	width: 80%;
	margin: auto;
	box-shadow: 0px 0px 30px #000;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #7BD0E5;
	
	background-image: -ms-linear-gradient(top, #EFEFEF 0%, #7BD0E5 60%); /* IE10 Consumer Preview */ 
	background-image: -moz-linear-gradient(top, #EFEFEF 0%, #7BD0E5 60%); /* Mozilla Firefox */ 
	background-image: -o-linear-gradient(top, #EFEFEF 0%, #7BD0E5 60%); /* Opera */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EFEFEF), color-stop(.6, #7BD0E5)); /* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-linear-gradient(top, #EFEFEF 0%, #7BD0E5 60%); /* Webkit (Chrome 11+) */ 
	background-image: linear-gradient(to bottom, #EFEFEF 0%, #7BD0E5 60%); /* W3C Markup, IE10 Release Preview */ 
}

h1, h2, h3, h4, h5, h6 {
	font-family: What a Mess, "Arial Black", Gadget, sans-serif;
}

h1 {
	font-family: Impossible Bold, "Arial Black", Gadget, sans-serif;
	font-size: 60px;
}

h2 {
	font-size: 45px;
}

h3 {
	font-size: 35px;
}

h4 {
	font-family: Impossible Bold, "Arial Black", Gadget, sans-serif;
	font-size: 25px;
}

h5 {
	font-size: 23px;
}

h6 {
	font-family: Impossible, "Arial Black", Gadget, sans-serif;
	font-size: 21px;
}

ul {
	margin: 10px 40px;
	list-style-type: square;
}

/*=======================================================HEADER=======================================================*/

header {
	text-align: left;
	padding: 20px;
	overflow: hidden;
	box-shadow: 0px 5px 20px #000;
}

#searchDiv {
	margin-top: -75px;
	float: right;
}

input {
	box-shadow: 0px 0px 8px #000;
	border: none;
	text-align: center;
	font-weight: bold;
	padding: 10px 20px;
	width: 200px;
	margin: 20px auto;
}

.button {
	cursor: pointer;
	font-weight: bold;
	font-family: What a Mess, "Arial Black", Gadget, sans-serif;
	font-size: 18px;
	padding: 5px 40px;
	margin: 10px;
	background: #FFC289;
	border: 2px groove #B2753C;
	border-radius: 30px;
	width: 100px;
	display: inline;
	text-align: center;
	margin: 20px;
} .button:hover {
	box-shadow: 3px 3px 5px #B2753C;
}

/*=======================================================NOW PLAYING=======================================================*/

#nowPlaying {
	padding: 15px;
	text-align: left;
}

#nowPlaying h4 {
	display: inline;
	text-shadow: 1px 1px 2px #000;
}

#nowPlaying span {
	padding-left: 15px;
	font-family: Impossible, Arial, Gadget, sans-serif;
	font-size: 20px;
}

#nowPlaying div {
	padding-top: 15px;
}

#position {
	width: 100%;
}

/*=======================================================NAVIGATION=======================================================*/

#navigation {
	border-top: 3px double #000;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	width: auto;
	font-family: "Arial Black", Gadget, sans-serif;
}

#navigation ul {
	background: #333333;
	height: 35px;
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigation li {
	float: left;
	padding: 0px;
	background: #333333;
	display: block;
	line-height: 35px;
	margin: 0px;
	padding: 0px 25px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	color: #efefef;
}

#navigation li:hover {
	background: #469DB2;
	color: #000;
	box-shadow: 0px 5px 10px #000;
}

/*=======================================================MAIN=======================================================*/

#main {
	padding: 40px;
	border-top: 3px double #333;
	border-bottom: 3px double #333;
}

#searchResults div {
	padding: 14px;
	margin: 15px;
	clear: both;
	overflow: hidden;
	border: 3px double #AAA;
	border-radius: 12px;
} #searchResults div:hover {
	box-shadow: 0px 0px 6px #000;
	border-color: #000;
}

#searchResults img {
	float: left;
}

#searchResults p {
	margin: 7px 0px 0px 120px;
}

#searchResults .trackTitle {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 16px;
}

.trackDescription {
	margin-top: 5px;
	font-style: italic;
	width: 70%;
}

.trackGenre, .trackDuration {
	float: right;
}

.trackGenre {
	font-weight: bold;
}

.trackDuration {
	margin-top: 5px;
}

#searchResults span {
	display: block;
}

#searchResults button {
	margin-top: 25px;
	padding: 7px 35px;
	font-family: "Arial Black", Gadget, sans-serif;
	border-radius: 10px;
	cursor: pointer;
	border: 0px;
	box-shadow: 3px 3px 10px #000;
	float: right;
	
	background-image: -ms-linear-gradient(top, #FFC289 0%, #B2753C 70%); /* IE10 Consumer Preview */ 
	background-image: -moz-linear-gradient(top, #FFC289 0%, #B2753C 70%); /* Mozilla Firefox */ 
	background-image: -o-linear-gradient(top, #FFC289 0%, #B2753C 70%); /* Opera */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFC289), color-stop(.7, #B2753C)); /* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-linear-gradient(top, #FFC289 0%, #B2753C 70%); /* Webkit (Chrome 11+) */ 
	background-image: linear-gradient(to bottom, #FFC289 0%, #B2753C 70%); /* W3C Markup, IE10 Release Preview */ 
} #searchResults button:hover, #searchResults button:focus {
	box-shadow: 3px 3px 5px #000;
	
	background-image: -ms-linear-gradient(top, #F1E3B0 0%, #B2753C 70%); /* IE10 Consumer Preview */ 
	background-image: -moz-linear-gradient(top, #F1E3B0 0%, #B2753C 70%); /* Mozilla Firefox */ 
	background-image: -o-linear-gradient(top, #F1E3B0 0%, #B2753C 70%); /* Opera */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F1E3B0), color-stop(.7, #B2753C)); /* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-linear-gradient(top, #F1E3B0 0%, #B2753C 70%); /* Webkit (Chrome 11+) */ 
	background-image: linear-gradient(to bottom, #F1E3B0 0%, #B2753C 70%); /* W3C Markup, IE10 Release Preview */ 
}

/*=======================================================PLAYLIST=======================================================*/

#playlist {
	width: 80%;
	margin: 20px auto;
	padding: 20px 0px;
	color: #ececec;
	border-radius: 15px;
	box-shadow: 0px 0px 40px #000;
	
	background: url(../assets/transparent-background.png);
	background-size: cover;
	background-position: center;
}

#playlist h3 {
	border-bottom: 4px solid #000;
	padding-bottom: 5px;
	margin-bottom: 15px;
	text-align: center;
	text-shadow: 5px 5px 10px #000;
}

#playlist ul {
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
}

#playlist li {
	padding: 15px;
	border-bottom: 1px solid transparent;
}

#playlist li:hover {
	border-bottom: 1px solid #000;
}

#playlist li:nth-child(2) {
	border-bottom: 1px solid #000;
}

/*=======================================================FOOTER=======================================================*/

footer {
	clear: both;
	text-align: center;
	font-size: 17px;
	font-family: What a Mess, "Arial Black", Gadget, sans-serif;
	padding: 10px 0px;
	background: #469DB2;
	
	background: url(../assets/playlistBackground.jpg);
	background-size: cover;
	background-position: center;
}